
.board-container {
  width: 348px;
}

.game-board {
    background: url("Board.gif") no-repeat;
    background-size:  320px ;
    width: 320px;
    float: left;
    touch-action: none;
  }

  .letter-grid {
    margin: 6% 6.5% 3% 10%;
  }

.board-row {
  margin-bottom: 3px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}