.square {
    touch-action: none;
    /* border: 1px solid #999;
    border-radius:8px; */
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 28px;
    height: 44px;
    margin-left: 2%;
    margin-top: 6%;
    text-align: center;
    width: 23%;
  }
  
  .underscore-true {
    text-decoration: underline;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .square[draggable=true] {
    -khtml-user-drag: element;
  }
  
  .square:focus {
    outline: none;
  }

  .rotate90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  }
  
  .rotate180 {
      -webkit-transform:rotate(180deg);
      -moz-transform: rotate(180deg); 
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  }
  
  .rotate270 {
      -webkit-transform:rotate(270deg);
      -moz-transform: rotate(270deg); 
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }